.video-frame {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* wrapper do vídeo */
.video-wrapper {
  width: 600px;
  max-width: 90%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

/* vídeo */
.video-wrapper video {
  width: 100%;
  height: auto;
  display: block;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .video-wrapper {
    width: 90%;
  }
}
